* {box-sizing: border-box; }

body {
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 padding: 20px;
 font-family: "San Francisco Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clock {
  position: relative;
  display: flex;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: rgba(255,255,255, 0.8);
  border-radius: 10%;
  background-color: rgb(0,0,0);
 }

.dials {
 height: 90%;
 width: 90%;
 border-radius: 100%;
 position: absolute;
}

.dial {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  top: 50%;
}

.one {border: 1px solid #fff;}
.two {transform: rotate(1*6deg)}
.three {transform: rotate(2*6deg)}
.four {transform: rotate(3*6deg)}
.five {transform: rotate(4*6deg)}
.six {transform: rotate(5*6deg)}
.seven {transform: rotate(6*6deg)}
.eight {transform: rotate(7*6deg)}
.nine {transform: rotate(8*6deg)}
.ten {transform: rotate(9*6deg)}
.eleven {transform: rotate(10*6deg)}
.twelve {transform: rotate(11*6deg)}
.thirteen {transform: rotate(12*6deg)}
.fourteen {transform: rotate(13*6deg)}
.fifteen {transform: rotate(14*6deg)}
.sixteen {border: 1px solid red;}


.face {
 height: 80%;
 width: 80%;
 border-radius: 100%;
 position: absolute;
 z-index: 1;
 background-color: rgb(0,0,0);
 }

.hand {
  border: 1px solid;
  width: 1px;
  height: 40%;
  top: 10%;
  left: 50%;
  position: absolute;
  transform-origin: 0 100%;
  border-radius: 100%;
}

.hours-hand {
  height: 30%;
  top: 20%;
  border: 2px solid #fff;
}

.minutes-hand {
  border: 2px solid blue;
}

.seconds-hand {
  border-color: fuchsia;
}

.digital_clock  {
  color: #fff;
  align-items: center;
}
